<div fxLayout="column">
  <div fxFlex="1 1 100vh">
    <pg-carousel fxFlex="0 0 100%" [slides]="slides"></pg-carousel>
  </div>
  <div fxFlex="0 0 100vh" style="background-color:#00F" id="section1-jp"></div>
  <div fxFlex="0 0 100vh" style="background-color:#000" id="section2-jp"></div>
  <div fxFlex="0 0 100vh" style="background-color:#0FF" id="section3-jp"></div>
  <div fxFlex="0 0 100vh" style="background-color:#0F0" id="section4-jp"></div>
  <div fxFlex="0 0 100vh" style="background-color:#F0F" id="section5-jp"></div>
</div>
