<div fxLayout="column">
  <div fxFlex="1 1 100vh">
    <pg-carousel fxFlex="0 0 100%" [slides]="slides"></pg-carousel>
  </div>
  <pg-list-page title="White" icon="menu"></pg-list-page>
  <div fxFlex="0 0 100vh" style="background-color:#FFF" id="section1-jp"></div>
  <pg-list-page title="Black" icon="menu"></pg-list-page>
  <div fxFlex="0 0 100vh" style="background-color:#000" id="section2-jp"></div>
  <pg-list-page title="Blue" icon="menu"></pg-list-page>
  <div fxFlex="0 0 100vh" style="background-color:blue" id="section3-jp"></div>
  <pg-list-page title="Green" icon="menu"></pg-list-page>
  <div fxFlex="0 0 100vh" style="background-color:#0F0" id="section4-jp"></div>
  <pg-list-page title="Red" icon="menu"></pg-list-page>
  <div fxFlex="0 0 100vh" style="background-color:red" id="section5-jp"></div>
</div>
